* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(241, 241, 239);
}

img {
    width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: none;
    height: 90vh;
    width: 26vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);;
}

hr{
    width: 432px;
    margin: 10px;
}

.name {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-weight: bold;
    gap: 10px;
}

.first {
    border-radius: 5px;
    width: 185px;
    font-weight: 600;
    padding-left: 10px;
}

.mid {
    border-radius: 5px;
    width: 185px;
    font-weight: 600;
    padding-left: 10px;
}

.mobile {
    border-radius: 5px;
    width: 390px;
    height: 40px;
    font-weight: 600;
    padding-left: 10px;
}

.pass {
    border-radius: 5px;
    width: 390px;
    height: 40px;
    font-weight: 600;
    padding-left: 10px;
}

.dob {
    padding-right: 301px;

}

.dob2 {
    width: 393px;
    height: 40px;
}

.date{
    border-radius: 5px;
    width: 128px;
    height: 40px;
    padding-left: 6px;
}

.gen{
    border-radius: 5px;
    padding-right: 330px;
    gap: 10px;
}
.radio{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.fem{
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 115px;
    height: 40px;
    border: 1px solid black;
}
.mal{
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 115px;
    height: 40px;
    border: 1px solid black;
}
.cus{
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 115px;
    height: 40px;
    border: 1px solid black;
}

.para1{
    padding: 10px;
}
.para2{
    padding: 10px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    width: 230px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #00a400;
    cursor: pointer;
}

button:hover{
    background-color: #3b883b;
}

.forgot{
    font-size: 25px;
    margin-top: 20px;
    text-decoration: none;
    color: #1877f2;
}

.fb{
    color: white;
}